extends base.pug

//- block script 
//-   script(src='../static/index.js')

block style 
  style
    include ../static/style.css

block content 
    
 

    section#introSection
      div Welcome to Bishal's Dance Academy
      div.small Eat Sleep Dance Repeat
    section#sponsorsSection
      h2 Our Sponsors

   
    